<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAn1.Properties.Settings.QLVTHHConnectionString"
            connectionString="Data Source=KIENMIC\SQLEXPRESS;Initial Catalog=QLVTHH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DoAn1.Properties.Settings.QLVTHHConnectionString1"
            connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=QLVTHH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>